<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.vicky.shoppingguide">
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Electronics" />
        <activity android:name=".Women" />
        <activity android:name=".Appliances" />
        <activity android:name=".BabyAndKids" />
        <activity android:name=".BooksMore" />
        <activity android:name=".Men" />
        <activity android:name=".Mobiles" />
        <activity
            android:name=".ShoppingActivity"
            android:label="@string/title_activity_shopping"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>